* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.container-app {
	max-width: 600px;
	margin: 0 auto;
	padding: 0 1.4rem;
}

.center-content {
	text-align: center;
}

.mg-left {
	margin-left: 1.4rem;
}

.loadding {
	width: 100%;
	top: 0;
	left: 0;
	height: 100vh;
	position: fixed;
	font-size: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99999;
	background: rgba(1, 188, 213, 0.68);
	color: #fff;
	opacity: 0;
	visibility: hidden;
	transition: linear .3s all;

	&.open {
		opacity: 1;
		visibility: visible;
	}
}