.user-section {
	margin: 0 auto 2rem;
	display: flex;

	.user-card-figure {
		width: 40%;
	}

	.user-card-info {
		width: 60%;
	}

	.user-small-text {
		font-family:Roboto, sans-serif;
		font-size: 14px!important;

		&:before {
			font-family: "FontAwesome";
		}
	}

	.user-repositories {
		color:#fff!important;

		span {
			text-transform: none!important;
		}
	}
}